<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.min.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/bootstrap-reboot.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
  </head>
  <body id="home">
    <!-- Navbar section -->
    <nav class="navbar-light site-header-small sticky-top py-1 bg-light">
      <div
        class="container d-flex flex-column flex-md-row justify-content-between"
      >
        <a class="navbar-brand">
          <img
            src="/images/logo.png"
            width="auto"
            height="30"
            class="d-inline-block align-top"
            alt="Website logo"
          />
          YouTube bot comments remover
        </a>
        <a href="<%=url%>" class="btn btn-danger">Logout</a>
      </div>
    </nav>

    <!-- Error section -->
    <div
      class="position-relative overflow-hidden p-3 p-md-5 m-md-1 text-center bg-light"
    >
      <div class="col-md-7 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Oops Something went wrong!</h1>
        <p class="col-md-6 mx-auto lead font-weight-normal"><%=error%></p>
        <a href="<%=url%>" class="btn btn-danger">Logout</a>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div
        class="product-device product-device-2 shadow-sm d-none d-md-block"
      ></div>
    </div>

    <!-- Footer section -->
    <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <small class="d-block mb-3 text-muted">Joost de Niet © 2022</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li>100% open source!</li>
            <li>Automatic channel detection!</li>
            <li>Automatic latest video detection!</li>
            <li>Detects dublicate comments</li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li>
              <a
                class="text-muted"
                href="https://github.com/nietjoost/Node.js-YouTube-bot-comments-remover"
                >Source code</a
              >
            </li>
            <li>
              <a class="text-muted" href="https://github.com/nietjoost/"
                >GitHub</a
              >
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
